<div class="album py-5 bg-light">
  <div class="container">
    <div [class]="'row row-cols-md-' + prefix">
      <div *ngFor="let board of boards">
        <div class="col">
          <div class="card shadow-sm">
            <img width=100% height="220" src="{{loadImg(board.ridx)}}">
            <div class="card-body">
              <p class="card-text">{{board.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="detail_view(board.id);">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngb-pagination [collectionSize]="pager.collectionSize" [pageSize]="pager.pageSize" [(page)]="pager.page" [maxSize]="pager.maxSize" (pageChange)="pageChanged($event)" aria-label="Default pagination"></ngb-pagination>

