<div class="col-md-12">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col-md-7 d-flex flex-column position-static">
      <h1 class="d-inline-block mb-2 text-primary">{{board.title | async}}</h1>
      <h4 class="mb-0">{{board.nick}}</h4>
      <div class="mb-1 text-muted">{{board.createdAt}}</div>
      <br>
      <p class="card-text mb-auto">{{board.content}}</p>
      <a href="#" class="stretched-link">Continue reading</a>
    </div>
    <div class="col-md-5 d-flex d-lg-block">
      <img src="{{apiUrl}}{{board.photo}}" width=100% height="500">

    </div>
  </div>
</div>