
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>API 클라이언트 도메인 등록</h1>
    <form id="join_form">
        <label>도메인</label>
        <input id="host" name="host" placeholder="www.example.com">
        <input type="button" value="등록" onclick="insert(this.form);">
    </form>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        /* 회원가입 클릭 이벤트 */
        const insert = (f) => {
            var form = $("#join_form").serializeObject();
            //가입 ajax 요청
            axios.post('/domain', form)
            .then((res) => {
                const result = res.data.res;
                if (result == 'exist') {
                  alert('이미 존재하는 도메인');
                  return;
                }
                if (result == 'success') {
                  alert('도메인 등록 완료');
                  return;
                }
            })
            .catch((err) => {
                console.error(err);
            });
        }
    </script>
</body>
</html>