<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Author : Jaewhi-so</h4>
          <p class="text-muted">Use Angular Front-end and Node.js Server API </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Content</h4>
          <ul class="list-unstyled">
            <li><a routerLink="/" routerLinkActive="active">Main</a></li>
            <li><a routerLink="/board" routerLinkActive="active">Board</a></li>
            <li><a routerLink="/account" routerLinkActive="active">Get Account!</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Tiny Web</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
<div class="row bg-dark" *ngIf="authService.isLogedIn">
  <div class="col-md-5" style="margin : 15px">
    <span style="color:white">{{authService.nick}}님 환영합니다  </span>
    <button class="btn btn-primary" (click)="logOut()">로그아웃</button>
  </div>
  <div class="col-md-6">
  </div>
</div>
</header>